.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage-bgimage {
  background: url("https://indofresh.co.id/web/image/1219501/13.%20Tugas%20Distributor%20Buah%20Sayur%20saat%20Konsumsi%20Makanan%20Sehat%20Meningkat%20copy.jpg");
  background-size: cover;
  background-position: top;
  min-height: 100%;
  height: 94vh;
  position: relative;
}

.containerWelcome {
  background-color: white;
  opacity: 75%;
  float: right;
  margin-top: 30vh;
  margin-right: 10vh;
  padding: 50px;
  border-radius: 30px;
}
